<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlh.cbms.mapper.NavigationMapper">

    <resultMap id="Base_NavigationMap" type="com.hlh.cbms.domain.entity.Navigation">
        <id property="navId" column="nav_id"/>
        <result property="navName" column="nav_name"/>
    </resultMap>

    <select id="findNavigations" resultMap="Base_NavigationMap">
        SELECT nav_id, nav_name
        FROM navigation
    </select>
</mapper>